<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>絵チャ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body oncopy="return false;">
    <div class="main">
      <h1>絵チャ</h1>
    </div>
    <!--input id="hex" placeholder="enter hex color"-->
    <div class="box">
      <canvas id="draw"></canvas>
      <script src="/jquery-1.11.0.min.js"></script>
    </div>
    <div id="item">
      <div id="item1">
        <p>線の太さ<input type="range" min="1" max="100" value="5" id="lineWidth"><span id="lineNum">5</span></p>
      </div>
      <div id="item2">
        <button id="pencil" onclick="tool(1)">ペン</button>
        <button id="crayon" onclick="tool(2)">ライター</button>
        <button id="destination-over" onclick="tool(3)">下書き</button>
        <button id="eraser" onclick="tool(4)">消しゴム</button>
        <input id="hex" type="color" value="#000000">
	    </div>
      <div id="item3">
        <button style="width:100px;" onclick="save()">save to local</button>
	    </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <pre class="lang:js decode:true " title="javascript-canvas" ><script src="/client.js"></script></pre>
  </body>
</html>
